{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">         
        <!--Section: invitation-->
        <section class="mb-4">
          <!--Section heading-->
          <h1 class="h1-responsive font-weight-bold text-center my-4">{{quiz.name}}</h1>
          <!--Section description-->
          {% if qr %}
          <h3 class="text-center w-responsive mx-auto mb-5">Scan Me</h3>
          {% endif %}

            <div class="row">
            <!--Grid column-->
            <div class="d-flex justify-content-center col-md-10 mb-md-0 mb-6 mx-auto ">
              {%  if form %}
                <form autocomplete="on" id="invite-form" name="invite-form" method="POST" action="{% url 'home:invite' quiz_id=quiz.id %}">
                  {% csrf_token %}
                  {{ form }}
                  <div class="text-center text-md-left mt-3">
                    <button type="button" class="get-started-btn" onclick="this.disabled=true,this.form.submit();">Generate QR Codes</button>
                  </div>
                </form>
              {% endif %}
              
              {% if qr %}
                {% for img in qr %}                    
                    <img class="img-responsive img-fluid" src="{% static img %}">
                {% endfor %}
              {% endif %}

            </div>
      </section>
    </div>
  </div>

{% endblock %}