{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
        <!--Section: invitation-->
        <div class="row">
        <section class="mb-4">
          <!--Section heading-->
          <h1 class="h1-responsive font-weight-bold text-center my-5">{{quiz.name}}</h1>
          <!--Section description-->
          {% if qr %}
          <h2 class="text-center w-responsive mx-auto my-3">Scan Me</h2>
          {% endif %}

            
            <!--Grid column-->            
              {%  if form and qr == None %}
              
                <form autocomplete="on" id="invite-form" name="invite-form" method="POST" action="{% url 'home:invite' quiz_id=quiz.id %}">
                  {% csrf_token %}
                  {{ form }}
                  <div class="text-center text-md-left mt-3">
                    <button type="button" class="get-started-btn" onclick="this.disabled=true,this.form.submit();">Generate QR Codes</button>
                  </div>
                </form>
              {% endif %}
              

              {% if qr %}
              <div class="row">
                {% for link, img in qr %}
                  <div class="col-md-4 col-sm-6 mx-auto">

                    <h3 class="text-center" style="font-size: 1.6vw;"><strong>{{ link }}</strong></h3> 
                    <img class="img-responsive img-fluid rounded mx-auto d-block my-3" src="{% static img %}">  
                  
                  </div>
                {% endfor %}
              </div>            
              {% endif %}
      </section>
    </div>
  </div>

{% endblock %}

{% block scripts %}

{{ block.super }}
{% endblock %}