{% extends "base.html" %}

{% block content %}

  <!--Section: Quiz -->
  <section class="mb-5">
    <div class="container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">{{quiz.name}}</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">“To be, or not to be: that is the question.”</p>

      <div class="row">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5 mx-auto">
          <div style="color: #d93025;" class="mb-3">*Required</div>
          <form autocomplete="off" id="quiz-form" name="quiz-form" method="POST" action="{% url "home:quiz" quiz_id=quiz.id %}">
              {% csrf_token %}
              {{ form }}
              <input type="hidden" name="seed" id="seed" value="{{seed}}">
              <div class="text-center text-md-left mt-3">
                <button type="button" class="get-started-btn" onclick="this.disabled=true,this.form.submit();">Submit Your Answers</button>
              </div>
          </form>
      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}

  {{ block.super }}

  <noscript>Sorry, your browser does not support JavaScript!</noscript>

  <script>
    window.addEventListener("pageshow", () => {
      document.getElementById("quiz-form").reset();               
    });
  </script>

{% endblock %}
