{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="container">

    <div class="row">
        {% if messages %}
        <ul class="messages alert alert-success" role="alert">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="row">         
        <!--Section: Result-->
        <section class="mb-4">
          <h2 class="h1-responsive font-weight-bold text-center my-4">{{result}} !</h2>
          <h1 class="h1-responsive font-weight-bold text-center my-4">Your Score is <strong>{{score}}</strong> of <strong>{{total}}</strong> </h1>
          <p class="text-center w-responsive mx-auto mb-5">“To be, or not to be: that is the question.”</p>
        </section>
    </div>
  </div>

{% endblock %}
  